<div class="elder-login-container">
  <h2>用戶登入</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="elder-form">
    <label>帳號：</label>
    <input
      formControlName="username"
      required
      class="elder-input"
      placeholder="請輸入帳號"
      autocomplete="username"
    />

    <label>密碼：</label>
    <input
      formControlName="password"
      required
      type="password"
      class="elder-input"
      placeholder="請輸入密碼"
      autocomplete="current-password"
    />

    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="elder-btn"
    >
      登入
    </button>
  </form>
  @if(errorMsg){
    <div class="elder-error">{{errorMsg}}</div>
  }
</div>
