:host{
  margin-right: 1%;
    button {
      background: #b8b7b7;
      color: #000000;
      border: none;
      border-radius: 50px;
      font-size: 25px;
      padding: 8px 20px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s;

      &:hover,
      &:active,
      &:force {
        text-decoration: none;
      }

      &:hover {
        background-color: #fff;
      }

      &.active {
        background-color: #fff;
      }
  }
}
